@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 3rem 0 0 0;
    font-size: .938rem; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* CONTACTS */
.contact-container p {
    font-size: 1.2rem;
}



/* SET ICONS =========================> */
.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social i {
    margin: 20px;
    font-size: 3rem;
    transition: font-size .3s ease-in;
}

.social i:hover {
    font-size: 3.5rem;
}


/* FOOTER  */
footer {
    margin: 2px;
    padding: 4px;
    border-top: solid rgba(235, 212, 212, 0.3) 2px;
}




/* REUSABLE CSS CLASSES ==================> */
.section {
     padding-top: 3rem;
}

.section-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600px;
}

.home, .projects, .aboutme, .contact {
    height: 130vh;
}

/* LAYOUT ========================> */
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}




/* HEADER ==========================? */

.header {
    width: 100%;
    z-index: 9999;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(60 54 36);
    font-size: 1.1rem;
    font-weight: 500;
    transition: .3s;
    letter-spacing: .2rem;
}

.logo::hover {
    color: #ce0f0f;
}

.nav-open {
    color: #000;
    font-weight: 500;
    transition: .3s;
}

.nav-open:hover {
    color: #ce0f0f;
}

.nav-open {
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width:802px) {
    .main-nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 3.5rem 0 1.5rem;
        text-align: center;
        background: #000;
        transition: .4s;
        box-shadow: 0 0 4px rgba(0,0,0,.4);
        z-index: 99999;
    }

}

.nav-item {
    margin-bottom: 1.5rem;
}

.nav-link {
    font-size: 1.3rem;
    color: #a5a5a5;
    font-weight: 400;
    transition: .3s;
}

.nav-link:hover {
    color: #fff;
    font-weight: 500;
}

.btn {
    background: #fff;
    color: #000;
    padding: 12px 20px;
    border-radius: 30px;
}

.nav-close {
    color: #fff;
    position: absolute;
    top: .4rem;
    right: 1.115rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.show-menu {
    top: 0;
}


/* ACTIVE LINK ===============> */
.active-link {
    position: relative;
    color: #fff;
    font-size: 500;
}

.active-link::before {
    content:'';
    position: absolute;
    bottom:-.5rem;
    /* the line is not gonna be perfectly at the center
        so after left we add a transform
    */
    left: 50%; 

    /* It makes out line be at the very center of each link */
    transform: translateX(-50%);
    width: 20px;
    height: 5px;
    background: #ce0f0f;
    border-radius: 50px;
}

/* CHANGE BACKGROUND ON SCROLL ==============> */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
}

/* HOME SECTION  ======================> */
.home-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1.5rem;
}

.home-image {
    text-align: center;
}

.home-image img {
    width:100%;
    height: 300px;
    max-width: 300px;
}


.home-data p:first-child {
    font-size: 1.7rem;
}

.home-data h1 {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3rem;
    text-transform: uppercase;
    margin-bottom: .5em;
    margin-top: .4em;
}


@media screen and (min-width: 576px) {
    .section-title {
        font-size: 2rem;
     }

     .home-data p {
        font-size: 1.3rem;
     }

     .home-data h1 {
        font-size: 4rem;
        line-height: 5rem;
     }


    .logo {
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
} 


@media screen and (min-width: 802px) {
    body {
        margin: 0;
    }

    .section {
        padding-top: 7rem;
    }

    .nav {
        height: 5rem;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-item {
        margin-left: 5rem;
        margin-bottom: 0;
    }

    .nav-link {
        font-size: 1rem;
        color: #000;
    }

    .logo {
        font-size: 1.3rem;
    }

    .nav-link:hover {
        color: #ce0f0f;
    }

    .btn {
        background: #ce0f0f;
        color: #fff;
    }


    .active-link {
        color: #ce0f0f;
    }

    .active-link::before {
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

    .nav-open, .nav-close {
        display: none;
    }

    .home-data h1 {
        font-size: 5.5rem;
        line-height: 6rem;
        font-weight: 700;
    }
}

/* ALTER DEFINITION OF THE CONTAINER */
@media screen and (min-width: 968px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .logo {
        font-size: 1.5rem;
    }
}